.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(43, 43, 43, 0.759);
}

.modal {
  position: relative;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: calc(100vw - 48px);
  max-height: calc(100vh - 24px);

  box-shadow: rgba(28, 28, 28, 0.5);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 5px;
}

.title {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 20px;
  padding: 0;

  border: none;
  border-radius: 5px;

  background-color: var(--second-bg-color);
  color: var(--second-text-color);

  cursor: pointer;
  transition: color var(--hover-animation);
}

.button:hover,
.button:focus {
  color: var(--accent-bg-color);
}
